{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="max-w-3xl mx-auto px-2 sm:px-6 lg:px-8 h-full flex items-center justify-center flex-col">
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <div class="rounded px-8 py-6 shadow space-y-4">
            <h1 class="text-4xl font-extrabold tracking-tight text-center">
                Demande de réinitialisation de votre mot de passe
            </h1>

            {{ form_start(form) }}
            {{ form_row(form.username) }}

            {{ component('button', {
                type: 'submit',
                label: "Envoyer un mail de réinitialisation",
            }) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
