{% extends 'base.html.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    {{ form_rest(form) }}

    {{ component('button', {
        type: 'submit',
        label: "S'inscrire",
    }) }}

    {{ form_end(form) }}
{% endblock %}
