{% extends 'hero_layout.html.twig' %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="rounded px-6 py-4 bg-red-100 text-red-800">
            {{ message }}
        </div>
    {% endfor %}


    {% for message in app.flashes('success') %}
        <div class="flash-success rounded px-6 py-4 bg-green-100 text-green-800">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Figures de snowboard</h1>

    <section class="grid gap-4 xl:grid-cols-3 md:grid-cols-2 py-12">
        {% for trick in tricks %}
            {{ component('trick-overview', {
                image: trick.thumbnailUrl,
                title: trick.name,
                slug: trick.slug,
                category: trick.categoryName,
                commentsCount: trick.commentsCount,
            }) }}
        {% endfor %}
    </section>
    {% if total > 1 %}
    <div class="my-8 flex gap-4 text-xl justify-center">
        {% for i in range(1, total) %}
            <a href="{{ path('homepage', {page: i}) }}" class="{{ page is same as i ? "text-blue-500" : "" }}">{{ i }}</a>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
